<a class="subscribe-me" href="{{@blog.url}}/rss/">Subscribe via RSS</a>
<p class="copyright"><a href="/">{{@blog.title}}</a> &copy; 2013 - 2014</p>
<p class="poweredby">Powered by <a href="http://ghost.org">Ghost</a><br /> Built by <a href="http://www.meanthemes.com">MeanThemes</a></p>